@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

header, .normal {
    padding: 15px;
}

p{
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    line-height: 1.2em;
    margin-bottom: 20px;
    text-align: left;
}

section.flex-content {
    padding: 15px;
    background-color: rgb(190, 184, 184);

    display: flex;
    flex-flow: column nowrap;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

article.text-media {
    margin-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 450px;
}

article > div.media {
    flex: 1 450px;
}

div.media > img {
    display: block;
    margin: auto;
}

div.media > iframe {
    margin: auto;
    display: block;
    width: 90%; /*Obs: configurando a largura do vídeo para não quebrar*/
}
